-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: humanresource
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `auto_id` int(11) NOT NULL AUTO_INCREMENT,
  `id` varchar(20) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `position` enum('Administrator') NOT NULL,
  `username` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `experiences` text DEFAULT NULL,
  PRIMARY KEY (`auto_id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (3,'AD-HR2020003','Marc Mendoza','mendoza.marcangelo28@gmail.com','Administrator','admin1','240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9','uploads/profile_pictures/Marc.jpg',22,'Ako ay pogi','09602161734','Block 29, Lot 26, Phase 2 Carissa Homes Barangay Bagtas, Tanza Cavite.','IT Technical at Holy Spirit ');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ed_2ndhalf`
--

DROP TABLE IF EXISTS `ed_2ndhalf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ed_2ndhalf` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(255) DEFAULT NULL,
  `schoolname` varchar(255) DEFAULT NULL,
  `degreeobtained` varchar(255) DEFAULT NULL,
  `inclusivedates` varchar(50) DEFAULT NULL,
  `yearobtained` int(11) DEFAULT NULL,
  `company` varchar(255) DEFAULT NULL,
  `nature_of_business` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `inclusive_dates` varchar(100) DEFAULT NULL,
  `position_period_assumed` varchar(255) DEFAULT NULL,
  `nature_of_office` varchar(255) DEFAULT NULL,
  `professional_licenses` varchar(255) DEFAULT NULL,
  `special_trainings` varchar(255) DEFAULT NULL,
  `special_interests_skills` varchar(255) DEFAULT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) DEFAULT NULL,
  `mi` varchar(10) DEFAULT NULL,
  `suffix` varchar(50) DEFAULT NULL,
  `relationship` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `tel_no_home` varchar(50) DEFAULT NULL,
  `tel_no_business` varchar(50) DEFAULT NULL,
  `mobile_phone_no` varchar(50) DEFAULT NULL,
  `organization` varchar(255) DEFAULT NULL,
  `place` varchar(255) DEFAULT NULL,
  `date_of_membership` varchar(255) DEFAULT NULL,
  `position_held` varchar(255) DEFAULT NULL,
  `nbi_clearance` varchar(255) DEFAULT NULL,
  `police_clearance` varchar(255) DEFAULT NULL,
  `barangay_clearance` varchar(255) DEFAULT NULL,
  `orientation_membership_seminar_certificate` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `ed_2ndhalf_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ed_2ndhalf`
--

LOCK TABLES `ed_2ndhalf` WRITE;
/*!40000 ALTER TABLE `ed_2ndhalf` DISABLE KEYS */;
INSERT INTO `ed_2ndhalf` VALUES (1,'HS-EID20200000001','National College of Science and Technology','Bachelor of Science in Information Technology','2021-2025',2025,'Necko and Friends, Inc.','Illegal drugs','Bossing','2027-Present','2027','Collaboration','None','None','None','Mendoza','Marc Angelo','B',NULL,'Single','Tanza, Cavite',NULL,NULL,'09999999999','None','None','None','sasesdsaw','awdsawds','dasdwa','wdasdaws','wdasdawa');
/*!40000 ALTER TABLE `ed_2ndhalf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_status`
--

DROP TABLE IF EXISTS `employee_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status` enum('Active','Inactive') NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_status`
--

LOCK TABLES `employee_status` WRITE;
/*!40000 ALTER TABLE `employee_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` varchar(50) NOT NULL,
  `lastname` varchar(100) NOT NULL,
  `firstname` varchar(100) NOT NULL,
  `middlename` varchar(100) DEFAULT NULL,
  `suffix` varchar(10) DEFAULT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `othernamesused` text DEFAULT NULL,
  `homeaddress` text DEFAULT NULL,
  `maritalstatus` enum('Single','Married','Divorced','Widowed') NOT NULL,
  `nameofspouse` varchar(100) DEFAULT NULL,
  `no_of_children` int(11) DEFAULT 0,
  `height(cm)` int(10) NOT NULL,
  `weight(kg)` int(5) NOT NULL,
  `colorofeyes` varchar(50) DEFAULT NULL,
  `colorofhair` varchar(50) DEFAULT NULL,
  `scars_marks_distinguishingfeatures` text DEFAULT NULL,
  `sss_gsisno` varchar(50) DEFAULT NULL,
  `dateofbirth` date NOT NULL,
  `age` int(11) DEFAULT NULL,
  `placeofbirth` varchar(100) DEFAULT NULL,
  `citizenship` varchar(50) DEFAULT NULL,
  `provinceoforigin` varchar(100) DEFAULT NULL,
  `religion` varchar(50) DEFAULT NULL,
  `bloodtype` varchar(3) DEFAULT NULL,
  `tel_no_home` varchar(15) DEFAULT NULL,
  `businessphonenumber` varchar(15) DEFAULT NULL,
  `mobilephone` varchar(15) DEFAULT NULL,
  `email1` varchar(100) DEFAULT NULL,
  `email2` varchar(100) DEFAULT NULL,
  `faxno` varchar(15) DEFAULT NULL,
  `work_occupation` varchar(100) DEFAULT NULL,
  `passportno` varchar(50) DEFAULT NULL,
  `expirydate` date DEFAULT NULL,
  `typeofvisaissued` varchar(50) DEFAULT NULL,
  `tinno` varchar(50) DEFAULT NULL,
  `datejoiningindsclc` date DEFAULT NULL,
  `fb_messenger_vibername` varchar(100) DEFAULT NULL,
  `instagramname` varchar(100) DEFAULT NULL,
  `kids_children_names` text DEFAULT NULL,
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
INSERT INTO `employees` VALUES ('HS-EID20200000001','Mendoza','Marc Angelo','Bernardo','','Male','','Block 29 Lot 26 Phase 2 Carissa Homes Brgy. Bagtas Tanza Cavite','Single','',0,178,64,'Brown','Black','','','2002-10-16',22,'Bacoor Cavite','Filipino','','Roman Catholic','O+','','09602161734','09602161734','marcxd21@gmail.com','mendoza.marcangelo28@gmail.com','','','','0000-00-00','','','0000-00-00','MarcMendoza','marcc.angelo','','Active');
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests`
--

DROP TABLE IF EXISTS `leave_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_requests` (
  `leave_id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_name` varchar(100) NOT NULL,
  `leave_type_id` int(11) NOT NULL,
  `leave_start_date` date NOT NULL,
  `leave_end_date` date NOT NULL,
  `total_days` int(11) NOT NULL,
  `status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `request_date` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`leave_id`),
  KEY `leave_type_id` (`leave_type_id`),
  CONSTRAINT `leave_requests_ibfk_1` FOREIGN KEY (`leave_type_id`) REFERENCES `leave_types` (`leave_type_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests`
--

LOCK TABLES `leave_requests` WRITE;
/*!40000 ALTER TABLE `leave_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_types`
--

DROP TABLE IF EXISTS `leave_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_types` (
  `leave_type_id` int(11) NOT NULL AUTO_INCREMENT,
  `leave_name` varchar(50) NOT NULL,
  PRIMARY KEY (`leave_type_id`),
  UNIQUE KEY `leave_name` (`leave_name`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_types`
--

LOCK TABLES `leave_types` WRITE;
/*!40000 ALTER TABLE `leave_types` DISABLE KEYS */;
INSERT INTO `leave_types` VALUES (1,'Annual Leave'),(6,'Bereavement Leave'),(3,'Maternity Leave'),(4,'Paternity Leave'),(2,'Sick Leave'),(5,'Unpaid Leave');
/*!40000 ALTER TABLE `leave_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` varchar(50) NOT NULL,
  `sender_id` varchar(50) NOT NULL,
  `sender_type` enum('Administrator','staff') NOT NULL,
  `receiver_id` varchar(255) NOT NULL,
  `receiver_type` enum('Administrator','staff') NOT NULL,
  `message` text NOT NULL,
  `sent_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('sent','delivered','seen') DEFAULT 'sent',
  PRIMARY KEY (`id`),
  KEY `sender_id` (`sender_id`,`sender_type`),
  KEY `receiver_id` (`receiver_id`,`receiver_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_accounts`
--

DROP TABLE IF EXISTS `staff_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(50) DEFAULT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `role` enum('staff') DEFAULT 'staff',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `staff_accounts_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_accounts`
--

LOCK TABLES `staff_accounts` WRITE;
/*!40000 ALTER TABLE `staff_accounts` DISABLE KEYS */;
INSERT INTO `staff_accounts` VALUES (1,'HS-EID20200000001','teacher1','f4974f85535353cd20081485a398511c565905829916946fcc8d1d344d3af346','uploads/profile_pictures/hello-kitty-maru-4k-9t-1920x1080.jpg','staff','active');
/*!40000 ALTER TABLE `staff_accounts` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-13 15:47:26
